# Build Output directories (Wir bauen neu für x86_64!)
bin/
build/

# Object files & Libraries
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.out

# System junk
.DS_Store
Thumbs.db

# Editor temp files
*~
*.swp

# local artifacts
commanderlink-src.tar.gz
commanderlink_contracts_patch.diff
contracts.patch

# local shell/pager artifacts
how --name-only --oneline HEAD
